@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

/* sample fonts */
/* font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif; 
font-family: 'Cabin', sans-serif;
font-family: 'Cuprum', sans-serif;
*/
.about-body {
  background-color: #0a192f;
  color: var(--textColor);
}
.about-header {
  color: #0f3057;
  font-family: "Cuprum", sans-serif;
}
.about-details .about-details-content .about-details-speech {
  font-family: "Abel", sans-serif;
  color: #8892b0;
}
.about-details .about-details-content {
  color: #a8b2d1;
}
.about-details .about-details-content div ul li {
  font-size: 0.8rem;
  font-family: "Space Mono", monospace;
}
.about-skills {
  background-color: #0a192f;
  color: #8892b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-skills p {
  font-size: 1.2rem;
}
.about-skills ul {
  font-family: "Cuprum", sans-serif;
  list-style: none;
}
.about-resume {
  background-color: #0a192f;
}
.resume-btn-link {
  margin-bottom: 3.7rem;
  color: #64ffda !important;
  background: transparent;
  padding: 1.25rem 1.75rem;
  border: 2px solid #64ffda !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.resume-btn-link:hover,
.resume-btn-link:focus,
.resume-btn-link:active {
  background-color: rgba(100, 255, 218, 0.1);
  outline: none;
}

/* media query for smaller devices */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .about-body {
    display: none;
  }
  .about-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: white;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-body {
    display: flex;
    width: 100%;

    height: 100%;
    border-top: 0;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  .about-header p {
    color: #0f3057;
    font-size: 3rem;
    font-weight: 900;
  }

  .about-body .about-photo img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0;
  }
  .about-details .about-details-content div ul li {
    font-weight: 100;

    line-height: 1.8rem;
    /* color: #1a1919; */
  }
  .about-details .about-details-content {
    margin-bottom: 1.5rem;
  }
  .about-details .about-details-content .about-details-speech {
    /* text-align: center; */
    margin-top: 2rem;

    line-height: 1.67;
    font-size: 20px;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }
  .about-body .about-photo {
    position: relative;
    margin-bottom: 2rem;
  }
  /* 
  .about-body .about-photo div::after {
    border: 2px solid #64ffda;
    top: 10px;
    left: 20px;
    z-index: -1;
  }

  .about-body .about-photo div::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    border-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  } */
  .overlay {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 20px;
    background-color: rgba(14, 233, 167, 0.4);
    width: 100%;
    height: 90%;
    border-radius: 7px;
  }

  .about-skills {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-skills p {
    padding: 1.2rem;
    font-size: 20px;
    text-align: justify;
    font-weight: 200;
  }
  .about-skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(40px, 150px));
    font-size: 17px;
  }

  .about-skills ul li {
    font-size: 17px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .about-skills ul li::before {
    content: "▹";
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #64ffda;
    font-size: 14px;
    line-height: 12px;
  }

  .about-resume {
    padding: 2rem 0;
  }
}

/* css for tablet responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
  .about-container {
    width: 100%;
    background-color: #fff;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-header p {
    font-size: 5rem;
    font-weight: 900;
  }

  .about-body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .about-body .about-photo {
    padding: 2rem;
  }
  .about-details {
    width: 50%;
    position: relative;
  }
  .about-details .about-details-content div ul li {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: "Space Mono", monospace;
    line-height: 1.8rem;
  }
  .about-details .about-details-content {
    padding: 2rem;
  }
  .about-details .about-details-content .about-details-speech {
    /* text-align: justify; */
    margin-top: 2rem;
    line-height: 1.67;
    font-size: 20px;

    padding: 2rem;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }
  .about-skills p {
    padding: 1.2rem;
    font-size: 20px;
    text-align: justify;
    font-weight: 200;
  }
  .about-skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(40px, 150px));
    font-size: 17px;
  }

  .about-skills ul li {
    font-size: 17px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .about-skills ul li::before {
    content: "▹";
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #64ffda;
    font-size: 14px;
    line-height: 12px;
  }

  .about-resume {
    padding: 20px 0;
  }
}

/* css for laptops and large screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 2900px) {
  .about-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: white;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-header p {
    font-size: 3rem;
    font-weight: 900;
  }
  .skills_header {
    font-family: "Cabin", sans-serif;
  }

  .about-body {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 4rem;
  }
  .about-details {
    width: 40%;
  }
  .about-details .about-details-content div ul li {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: "Space Mono", monospace;
    line-height: 1.8rem;
  }
  .about-details .about-details-content .about-details-speech {
    margin-top: 2rem;
    line-height: 1.67;
    font-size: 20px;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }

  .about-body .about-photo {
    position: relative;
  }

  .about-body .about-photo div::after {
    border: 2px solid #64ffda;
    top: 20px;
    left: 20px;
    z-index: -1;
  }
  .about-body .about-photo div::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(14, 233, 167, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .about-body .about-photo div:hover .about-overlay {
    background-color: rgba(14, 233, 167, 0);
  }
  .about-body .about-photo div:hover::after {
    top: 10px;
    left: 10px;
  }
  .about-skills ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
  }
  .about-skills ul li {
    font-size: 17px;
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
  }
  .about-skills ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    bottom: 8px;
    color: #64ffda;
    font-size: 14px;
    line-height: 12px;
  }
  .about-resume {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  /* element.style {
  }
  <style > .lpplKD .email-link:hover,
  .lpplKD .email-link:focus,
  .lpplKD .email-link:active {
    background-color: var(--green-tint);
    outline: none;
  }
  <style > .lpplKD .email-link {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    margin-top: 50px;
  } */
}
