@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

/* sample fonts */
/* font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif; 
font-family: 'Cabin', sans-serif;
*/
.about-body {
  background-color: #0a192f;
  color: var(--textColor);
}
.about-header {
  color: #0f3057;
  font-family: "Raleway", sans-serif;
}
.about-details .about-details-content .about-details-speech {
  font-family: "Abel", sans-serif;
  color: #8892b0;
}
.about-details .about-details-content {
  color: #a8b2d1;
}
.about-details .about-details-content div ul li {
  font-size: 0.8rem;
  font-family: "Space Mono", monospace;
}

.about-body .about-photo div::after {
  border: 2px solid #64ffda;
  top: 20px;
  left: 20px;
  z-index: -1;
}
.about-body .about-photo div::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* media query for smaller devices */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .about-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: white;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-body {
    display: flex;
    width: 100%;

    height: 100%;
    border-top: 0;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem 2rem;
  }
  .about-header p {
    color: #0f3057;
    font-size: 3rem;
    font-weight: 900;
  }
  .circle {
    display: none;
  }
  .about-body .about-photo img {
    max-width: 100%;
    height: auto;
    margin: 1.5rem 0;
  }
  .about-details .about-details-content div ul li {
    font-weight: 100;

    line-height: 1.8rem;
    /* color: #1a1919; */
  }
  .about-details .about-details-content {
    margin-bottom: 1.5rem;
  }
  .about-details .about-details-content .about-details-speech {
    /* text-align: center; */
    margin-top: 2rem;

    line-height: 1.67;
    font-size: 20px;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }
  .about-resume {
    padding: 2rem 0;
  }
  .about-resume .about-resume-button a {
    border: 2px solid;
    border-radius: 20px;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 5px 5px 20px;
  }

  .about-skills {
    background-color: #e7e7de;
    padding-bottom: 4rem;
  }

  .about-skills p {
    font-size: 3rem;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
  }
  #skillsHeader {
    color: #00edd1;
    background-image: linear-gradient(-270deg, #0a5249, #4b5e07);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cabin", sans-serif;
  }
  .box-container {
    padding: 2rem;
  }

  .about-skills .box {
    background-color: #121013;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    /* transform: translateX(30px); */
    color: #f4f5db;
    height: 220px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    margin: 1.4rem 0;
  }
}

/* css for tablet responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
  .about-container {
    width: 100%;
    background-color: #fff;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-header p {
    font-size: 5rem;
    font-weight: 900;
  }
  .circle {
    display: none;
  }
  .about-body {
    display: flex;
    width: 100%;

    height: 100%;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .about-body .about-photo {
    padding: 2rem;
  }
  .about-details {
    width: 50%;
    position: relative;
  }
  .about-details .about-details-content div ul li {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: "Space Mono", monospace;
    line-height: 1.8rem;
  }
  .about-details .about-details-content {
    padding: 2rem;
  }
  .about-details .about-details-content .about-details-speech {
    /* text-align: justify; */
    margin-top: 2rem;

    line-height: 1.67;
    font-size: 20px;

    padding: 2rem;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }
  .about-resume {
    padding: 20px 0;
  }
  .resume-btn-link {
    margin-bottom: 1.7rem;
    color: #24677e !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #0d6481 !important;
    border-radius: 6px;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
  .resume-btn-link:hover {
    color: #20bf6b !important;
    border-radius: 50px;
    border-color: #20bf6b !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }

  .about-skills {
    background-color: #161d6f;
    padding: 2rem;
  }
  .about-skills p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: #0278ae;
    font-family: "Work Sans", sans-serif;
  }

  #skillsHeader {
    color: #00edd1;
    background-image: linear-gradient(-170deg, #7adbd0, #a4ce0f);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Cabin", sans-serif;
  }
  span {
    white-space: pre-wrap;
  }

  .about-skills .box {
    background-color: #121013;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    /* transform: translateX(30px); */
    color: #f4f5db;
    height: 220px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Work Sans", sans-serif;
    margin: 1.8rem 0;
  }
}

/* @media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  .about-container {
    background-color: red;
    1e212d
    f4f9f9

  }
} */

/* css for laptops and large screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 2900px) {
  .about-container {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: white;
  }
  .about-header {
    display: grid;
    place-items: center;
    padding: 2rem 0;

    margin-top: 2rem;
  }
  .about-header p {
    font-size: 3rem;
    font-weight: 900;
  }
  .skills_header {
    font-family: "Cabin", sans-serif;
  }
  .circle {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.1;
  }
  .about-body {
    display: flex;
    width: 100%;

    justify-content: space-around;
    padding: 4rem;
    margin-bottom: 2rem;
  }
  .about-details {
    width: 40%;
  }
  .about-details .about-details-content div ul li {
    font-size: 1.1rem;
    font-weight: 100;
    font-family: "Space Mono", monospace;
    line-height: 1.8rem;
  }
  .about-details .about-details-content .about-details-speech {
    /* text-align: justify; */
    margin-top: 2rem;

    line-height: 1.67;
    font-size: 21px;
  }
  .about-details .about-details-content .about-details-speech span {
    font-weight: 600;
  }
  .about-resume {
    margin-bottom: 3.7rem;
  }
  .resume-btn-link {
    margin-bottom: 3.7rem;
    color: #24677e !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #0d6481 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-decoration: none;
  }
  .resume-btn-link:hover {
    color: #20bf6b !important;
    border-radius: 50px;
    border-color: #20bf6b !important;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  .about-skills {
    margin-top: 3rem;
    background-color: #f4f5db;
  }
  .about-skills p {
    font-size: 2.8rem;
    color: #0278ae;
  }
  .about-skills .box {
    background-color: #121013;
    /* box-shadow: 4px 13px 30px 15px rgba(252, 56, 56, 0.2); */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 20px;
    /* transform: translateX(30px); */
    color: #f4f5db;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    margin: 2.4rem 0;
  }
  /* .about-skills__list ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(5, 50px);
  } */
}
