/* media queries */

/* css for phone responsiveness */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
}

/* css for tablet responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* css for latptops and large screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .burger-menu {
    display: none;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
  }
  .burger-menu .bg-secondary-color {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #e20001;
    z-index: -1;
  }
  .burger-menu .menu-layer {
    position: relative;
    background-color: #050505;
    height: 100%;
    overflow: hidden;
  }
  .burger-menu .menu-layer .menu-icon-bg {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  .burger-menu .menu-layer .wrapper {
    position: relative;
  }
  .burger-menu .menu-layer .wrapper .menu-links {
    /* justify-content: space-between;
    align-items: center; */
    position: relative;
    top: 70px;
  }
  .menu-links nav {
    display: flex;
    align-items: flex-start;
    width: 100px;
  }
  .menu-links nav ul {
    padding: 0;
    margin: 0;
  }
  .menu-layer .wrapper .menu-links nav ul li {
    list-style-type: none;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
    height: 70px;
    overflow: hidden;
    position: relative;
    width: 700px;
    text-decoration: none;
    text-align: start;
    margin: 0 0 1.6rem 0;
  }
  .menu-links nav ul {
    /* align-self: flex-start; */
    margin-left: 240px;
  }
  .menu-links nav ul li a {
    color: #fff;
    font-size: 3rem;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    font-family: "Titillium Web", sans-serif;
  }
  .menu-links nav ul li a:hover {
    text-decoration: none;
    color: rgb(70, 218, 70);
    padding: 1.2rem;
  }
}
