@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

//to make images responsive
img {
  max-width: 100%;
}

.works-container {
  background-color: #0a192f;
}
.works-wrapper {
  .project-header {
    color: #a8b2d1;
  }
}

//container for each project card
.work-container {
  width: 100%;
}

// media query for mobile.
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .projects-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  .project-header {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1.23px;
    padding: 4rem 4rem;
    // position: relative;
  }
  .project-header::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    left: 120px;
    width: 150px;
    height: 3px;
    margin-left: 20px;
    background-color: #2b3a53;
  }

  .work-container {
    margin: 1.23rem 0;
    padding: 1.23rem;
    margin-bottom: 4rem;

    .work-wrapper {
      // background-color: burlywood;

      // syling project content
      .project-content {
        margin-bottom: 4rem;
        div {
          font-family: "Cabin", sans-serif;
          // position: relative;
          // grid-area: 1 / 1 / -1 / 7;
          // background-color: red;
          .project-overline {
            color: #64ffda;
            font-size: 16px;
            font-weight: 500;
            font-family: "Ubuntu Mono", monospace;
            margin: 10px 0px;
          }
          .project-title {
            color: #ccd6f6;
            font-size: clamp(24px, 5vw, 28px);
            margin: 0px 0px 20px;
          }
          .project-description {
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            position: relative;
            z-index: 2;
            padding: 20px;
            border-radius: 5px;
            background-color: #112240;
            color: #a8b2d1;
            font-size: 15px;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
          }

          .project-tech-list {
            display: flex;
            flex-wrap: wrap;
            // position: relative;
            z-index: 2;
            margin: 25px 0px 10px;
            padding: 0px;
            list-style: none;
          }

          .project-tech-list li {
            margin: 0px 20px 5px 0px;
            color: #a8b2d1;
            font-family: "Poppins", sans-serif;
            font-size: 13.5px;
            white-space: nowrap;
          }

          .projects-links a {
            font-size: 1.23rem;
            color: #cdd0cb;
            padding: 10px;
            :hover,
            :active,
            :focus {
              color: #64ffda;
              transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
        }
      }
    }
    //this style is used to make odd children of the work card look different
    .odd {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
      // -webkit-box-align: center;
      // align-items: center;
      position: relative;

      .project-content {
        grid-column: 7/ -1;
        text-align: right;
        z-index: 2;
        margin-top: 2.5rem;
        div {
          .project-tech-list {
            justify-content: flex-end;
          }
        }
      }
      .project-image {
        grid-column: 1/ 9;
        position: absolute;
        .overlay {
          &:hover {
            background-color: rgba(14, 233, 167, 0);
          }
        }
      }
    }
    //this style is used to make even children of the work card look different
    .even {
      position: relative;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(12, 1fr);
      -webkit-box-align: center;
      align-items: center;

      .project-content {
        grid-column: 1/ 7;
        text-align: left;

        margin-top: 2.5rem;
      }
      .project-image {
        grid-column: 6/-1;
        position: absolute;

        .overlay {
          &:hover {
            background-color: rgba(14, 233, 167, 0);
          }
        }
      }
    }
  }
}

// media query for tablet

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  //end of media query
}

// media queries for laptops and big screens
@media screen and (min-device-width: 1200px) and (max-device-width: 2900px) {
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .projects-wrapper {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
  }

  .project-header {
    font-size: 30px;
    font-weight: 600;
    margin-top: 1.23px;
    padding: 4rem 0 2rem 4rem;
    // position: relative;
  }
  .project-header::after {
    content: "";
    display: block;
    position: relative;
    top: -20px;
    left: 370px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #233554;
  }

  .work-container {
    margin: 1.23rem 0;
    padding: 1.23rem;
    margin-bottom: 4rem;

    .work-wrapper {
      // background-color: burlywood;

      // syling project content
      .project-content {
        margin-bottom: 4rem;
        div {
          font-family: "Cabin", sans-serif;
          // position: relative;
          // grid-area: 1 / 1 / -1 / 7;
          // background-color: red;
          .project-overline {
            color: #64ffda;
            font-size: 16px;
            font-weight: 500;
            font-family: "Ubuntu Mono", monospace;
            margin: 10px 0px;
          }
          .project-title {
            color: #ccd6f6;
            font-size: clamp(24px, 5vw, 28px);
            margin: 0px 0px 20px;
          }
          .project-description {
            box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            position: relative;
            z-index: 2;
            padding: 20px;
            border-radius: 5px;
            background-color: #112240;
            color: #a8b2d1;
            font-size: 15px;
            font-weight: 300;
            font-family: "Roboto", sans-serif;
          }

          .project-tech-list {
            display: flex;
            flex-wrap: wrap;
            // position: relative;
            z-index: 2;
            margin: 25px 0px 10px;
            padding: 0px;
            list-style: none;
          }

          .project-tech-list li {
            margin: 0px 20px 5px 0px;
            color: #a8b2d1;
            font-family: "Poppins", sans-serif;
            font-size: 13.5px;
            white-space: nowrap;
          }

          .projects-links a {
            font-size: 1.23rem;
            color: #cdd0cb;
            padding: 10px;
            :hover,
            :active,
            :focus {
              color: #64ffda;
              transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
          }
        }
      }
    }
    //this style is used to make odd children of the work card look different
    .odd {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(1, 1fr);
      // -webkit-box-align: center;
      // align-items: center;
      position: relative;

      .project-content {
        grid-column: 7/ -1;
        text-align: right;
        z-index: 2;
        margin-top: 2.5rem;
        div {
          .project-tech-list {
            justify-content: flex-end;
          }
        }
      }
      .project-image {
        grid-column: 1/ 9;
        position: absolute;
        .overlay {
          &:hover {
            background-color: rgba(14, 233, 167, 0);
          }
        }
      }
    }
    //this style is used to make even children of the work card look different
    .even {
      position: relative;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(12, 1fr);
      -webkit-box-align: center;
      align-items: center;

      .project-content {
        grid-column: 1/ 7;
        text-align: left;

        margin-top: 2.5rem;
      }
      .project-image {
        grid-column: 6/-1;
        position: absolute;

        .overlay {
          &:hover {
            background-color: rgba(14, 233, 167, 0);
          }
        }
      }
    }
  }
}
