// media query for mobile.
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
}

// media query for tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

// media queries for laptops and big screens
@media screen and (min-device-width: 1200px) and (max-device-width: 2900px) {
  .other_projects_container {
    margin-top: 4rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .other_projects_wrapper {
      width: 70.5%;

      .other_projects_header {
        font-size: 1.5rem;
        color: #ccd6f6;
        font-weight: 600;
        text-align: center;
      }

      .other-projects-grid {
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;

        // styles for otherProjectsTiles.js
        .other-projects-inner {
          box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          flex-direction: column;
          align-items: flex-start;
          position: relative;
          height: 100%;
          padding: 2rem 1.75rem;
          border-radius: 5px;
          background-color: #112240;
          transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

          &:hover {
            transform: translateY(-9px);
          }
          &:hover .other-projects-title {
            color: #64ffda;
          }

          .other-projects-top {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: flex-end;
            -webkit-box-align: center;
            align-items: center;
            margin-bottom: 35px;

            .other-projects-links a {
              font-size: 1.23rem;
              color: #cdd0cb;
              padding: 10px;
              :hover,
              :active,
              :focus {
                color: #64ffda;
                transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
              }
            }
          }

          .other-projects-title {
            margin: 0px 0px 10px;
            color: #ccd6f6;
            font-size: 1.3rem;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
          }

          .other-projects-description {
            font-size: 16px;
            color: #a8b2d1;
          }
        }

        .other-projects-tech-list {
          list-style: none;
          display: flex;
          align-items: flex-end;
          -webkit-box-flex: 1;
          flex-grow: 1;
          flex-wrap: wrap;
          color: #8892b0;
          padding: 0px;
          margin: 20px 0px 0px;

          li {
            font-size: 12px;
          }
          li:not(:last-of-type) {
            margin-right: 15px;
          }
        }
      }
    }
  }
}
