@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.home-container{
    background-image: url(../../../../images/ColoredShapes.svg);
}
.home-wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.7),
        rgba(5, 6, 9, 0.8)
    );
  
    border-radius: 10px;
    z-index: 2;
    backdrop-filter: blur(.2rem);
}

/* small screen */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
    .container {
      max-width: 540px;
    }
  }
  
/* css for tablet responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {
}


/* css for laptops and large screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
    .home-container{
        background-color: url(../../../../images/ColoredShapes.svg);
        height: 100vh;
        
    }
    .home-container .home-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
        padding: 2rem 3rem;
    }
    .home-container .home-header .home-logo{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 800;
        letter-spacing: -3px;
        color: #06FF00;
        font-size: 2.1rem;
    }
    /* hamburger css */
    .home-container .home-header .hamburger{
        /* background-color: green; */
        width: 20%;
        padding: .5rem;
       display: flex;
       justify-content: end;
    }
    .home-container .home-header .line{
        height: 2px;
        background-color: honeydew;
        margin: 7px 0;
        border-radius: 5px;
    }
    .home-container .home-header .line-1{
        width: 19px;
        
    }
    .home-container .home-header .line-2{
        width: 19px;
    }
    .home-container .home-header .line-3{
        width: 24px;
    }
}