@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Condensed&display=swap");

/* generic css for intro */

/* media queries */

/* css for phone responsiveness */
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
}

/* css for tablet responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* css for latptops and large screens */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .header-container {
    background: red;
    padding: 1.5rem 3rem;
  }
  .inner-header {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    font-size: 1.3rem;
  }
  .logo {
    font-family: "Roboto Condensed", sans-serif;
  }
  .btn {
    font-family: "Roboto Condensed", sans-serif;
  }
}
